<a href="https://colab.research.google.com/github/lpajarof/python_mysql/blob/main/Conexi%C3%B3n_Pyhton_MySql.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Conexión a Base de Datos Mysql

**Ing. Leandro Pájaro Fuentes**

En la presente práctica veremos como utilizar Python para acceder a una base de datos Mysql

# 1 Configuración de la base de datos

Para poder acceder a una base de datos MySql esta debe estar creada.  Para el desarrollo de los ejercicios se ha creado una base de datos de prueba, los datos de conexión son:


*   Server Host: IP
*   Database: nombre_de_la_base_de_datos
*   Usuario: usuario_base_datos
*   Contraseña: contraseña_base_datos

En la base de datos se creará la siguiente tabla:

```sql
CREATE TABLE IF NOT EXISTS usuarios (
  id int PRIMARY KEY AUTO_INCREMENT,
  nombres varchar(50),
  apellidos varchar(50),
  email varchar(255)
);
```

Insertaremos los siguientes registros:

```sql
INSERT INTO usuarios (nombres, apellidos,email)
VALUES('Juan','Pérez','juan@com.co'),('Maria','López','maria@com.co'),('Pablo','Gomez','pablo@com.co'),('Ana','Gacia','ana@com.co');
```

# 2 Conexión a la Base de Datos desde Python

Para acceder a una base de datos MySql desde Python es necesario tener instalada una de las varias librerias existentes.  Para este caso utilizaremos **mysql-connector**.  A continuación, instalación de la librería.

In [ ]:
#instalación de librería mysql-connector
!pip install mysql-connector

Una vez instalada la librería realizaremos la conexión a la base de datos.

In [ ]:
#importación de las librerías necesarias
import mysql.connector
from mysql.connector import Error

host = 'xx.xxx.xx.xx'
usuario = 'xxxxx'
contrasenia = '*****'
basedatos = 'xxxxx'

conexion = None
try:
  conexion = mysql.connector.connect(host = host,user = usuario, passwd = contrasenia, database = basedatos )
  print('Conexión realizada satisfactoriamente')
except Error as e:
  print("Error al establecer conexión: ",e)

#3 Consulta de datos

Con la conexión a la base de datos establecida, procederemos a listar los regitros de la tabla usuarios

In [ ]:
#Consulta de datos

if(conexion != None):
    cursor = conexion.cursor(dictionary=True)
    result = None
    try:
        cursor.execute("SELECT * FROM usuarios")
        result = cursor.fetchall()        
    except Error as e:
        print("Se ha presentado error al ejecutar la consulta: ",e)   
    
    for row in result:
      print(row)
else:
    print('No existe conexión a la base de datos')

#4 Inserción de datos

En este punto procederemos a insertar datos en la tabla usuarios

In [ ]:
#Inserción de datos

sql = "INSERT INTO usuarios(nombres, apellidos,email) VALUES('Lola','Flores','lola@com.co')"

if(conexion != None):        
    try:
      cursor = conexion.cursor()
      #Ejecuta la consulta
      cursor.execute(sql)
      #Comfirma los cambios en la base de datos
      conexion.commit()
      print("Registro ingresado satisfactoriamente")            
    except Error as e:
        print("Se ha presentado error ingresar el registro: ",e)   
else:
    print('No existe conexión a la base de datos')

#5 Modificación de datos

Procederemos a modificar el último registro ingresado para cambiar el apellido de Lola de Flores a Rosas

In [ ]:
#Modificación registro
sql = "UPDATE usuarios SET apellidos = 'Rosas' WHERE nombres = 'Lola'"

if(conexion != None):        
    try:
      cursor = conexion.cursor()
      #Ejecuta la consulta
      cursor.execute(sql)
      #Comfirma los cambios en la base de datos
      conexion.commit()
      print("Registro modificado satisfactoriamente")            
    except Error as e:
        print("Se ha presentado error al modificar registro: ",e)   
else:
    print('No existe conexión a la base de datos')

#6 Eliminación de datos

La última operación es la de borrado de regitros

In [ ]:
#Eliminación registro

sql = "DELETE FROM usuarios where nombres='Lola'"

if(conexion != None):        
    try:
      cursor = conexion.cursor()
      #Ejecuta la consulta
      cursor.execute(sql)
      #Comfirma los cambios en la base de datos
      conexion.commit()
      print("Registro eliminado satisfactoriamente")            
    except Error as e:
        print("Se ha presentado error al eliminar registro: ",e)   
else:
    print('No existe conexión a la base de datos')

Es importante una vez finalizadas las operaciones sobre la base de datos cerrar la conexión.

In [19]:
#Finalización de la conexión a la base de datos
conexion.close()